
body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;

    font-family: 'Lucida';
    font-weight: thin;
    font-size: 20px;

    display: grid;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    padding: 10px;
    box-sizing: border-box;
}
.no_bullets {
    list-style-type: none;
}  

.spaced-list li{
    margin-bottom: 10px;
}

.container div{
    padding: 10px;
    max-width: 100%;
    overflow: auto;
}

.quote {
    font-family: 'Andale Mono';
    font-weight: 50;
    font-size: 17px;
}


.num_1 {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: space-between;
}

.image {
    width: 300px;
    height: 400px;
}
.alignright {
    text-align: right;
}

.alignleft {
	text-align: left;
}

.central {
    display: flex;
    align-items: center;  
}

.num_2 {
    grid-row-start: 2;
    grid-row-end: 5;
    text-align: right;
}
.num_3 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

.num_4 {
    padding: 0px;
    grid-row-start: 2;
    grid-row-end: 3;
}

.picture{
    flex-direction: column; 
}

.num_6 {
    grid-column-start: 2;
    grid-column-end: 4;
    justify-content: space-between;
}

.num_6 h2 {
    margin: 0; 
    text-align: left;
}

.blue {
    background-color: #DAE3FF;
}
.green {
    background-color: #DAFFE1;
}
.red {
    background-color: #FFE4DC;
}

@media screen and (max-width: 700px){
    .container {
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        height: auto;
        overflow-y: auto;
    }
    
    .num_2, .num_3, .num_4, .num_5, .num_6 {
        grid-column-start: 1; 
        grid-column-end: 2;

    }
    .num_2 {
        grid-row: 3;
    }
    .num_3 {
        grid-row: 2;
    }
    .num_4 {
        grid-row: 5;
    }
}
